In [61]:
import numpy as np
import pandas as pd
import math
import timeit
import time
import string
from matplotlib import pyplot

In [3]:
from google.colab import files
uploaded = files.upload()

Saving Energy41.csv to Energy41 (1).csv

In [62]:
import io
dataset = pd.read_csv(io.BytesIO(uploaded['Energy41.csv']))
dataset.head(40)

       dateRep        Outflow HHP1  ... Production HPP1 Production HPP2
0   2006/01/01  158,87155322267287  ...            2870            4350
1   2006/01/02  168,01416144057697  ...            1960            4000
2   2006/01/03  113,97097279628683  ...            1886            3740
3   2006/01/04  108,87795296245295  ...            1280            3240
4   2006/01/05   73,08660464134628  ...            2400            5020
5   2006/01/06  135,69053343967414  ...            2570            3440
6   2006/01/07  145,51706462474957  ...            2450            4430
7   2006/01/08   138,3687397283832  ...            2290            4160
8   2006/01/09   128,5916763558813  ...            2290            4000
9   2006/01/10  128,06411185173383  ...            2150            3640
10  2006/01/11  119,74457291982816  ...            2320            2950
11  2006/01/12    129,416906544757  ...            2670            4010
12  2006/01/13  148,70605102136807  ...            2432            3940
13  2006/01/14  135,25516563236033  ...            2295            3390
14  2006/01/15  127,50222664936811  ...            1720            3380
15  2006/01/16   95,10951562362325  ...            1520            2900
16  2006/01/17   83,87592145484743  ...            1034            3000
17  2006/01/18   56,56053134436202  ...               0            2220
18  2006/01/19                   0  ...             600            2590
19  2006/01/20   32,16646601828921  ...             300            2450
20  2006/01/21  15,931872445176872  ...             200            2650
21  2006/01/22   10,52663223209179  ...               0            2600
22  2006/01/23                   0  ...               0            3040
23  2006/01/24                   0  ...               0            3360
24  2006/01/25                   0  ...             NaN            2870
25  2006/01/26                   0  ...             NaN            3420
26  2006/01/27                   0  ...               0            1980
27  2006/01/28                 NaN  ...               0            1790
28  2006/01/29                   0  ...               0            1880
29  2006/01/30                   0  ...               0            1960
30  2006/01/31                 NaN  ...             NaN            1960
31  2006/02/01                   0  ...               0            2480
32  2006/02/02                   0  ...            2505            2670
33  2006/02/03  120,74024604199975  ...            2660            3460
34  2006/02/04  128,43389725961453  ...            2190            3560
35  2006/02/05  105,62194428753656  ...            2045            3930
36  2006/02/06   98,18885284106561  ...            1235            3820
37  2006/02/07   58,84094088844751  ...             660            4040
38  2006/02/08    31,2069381405406  ...               0            4640
39  2006/02/09                   0  ...               0            5560

[40 rows x 6 columns]

In [63]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2831 entries, 0 to 2830
Data columns (total 6 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   dateRep          2831 non-null   object
 1   Outflow HHP1     2823 non-null   object
 2   Inflow  HPP1     2830 non-null   object
 3   Inflow HPP2      2830 non-null   object
 4   Production HPP1  2821 non-null   object
 5   Production HPP2  2830 non-null   object
dtypes: object(6)
memory usage: 132.8+ KB

In [64]:
perc =[.20, .40, .60, .80] 
include =['object', 'float', 'int'] 
dataset.describe(percentiles = perc, include = include)

           dateRep Outflow HHP1  ... Production HPP1 Production HPP2
count         2831         2823  ...            2821            2830
unique        2831         2530  ...            1996            1998
top     2008/09/13            0  ...               0            4600
freq             1          250  ...             251              10

[4 rows x 6 columns]

In [65]:
dataset.dtypes

dateRep            object
Outflow HHP1       object
Inflow  HPP1       object
Inflow HPP2        object
Production HPP1    object
Production HPP2    object
dtype: object

In [66]:
for i in range(1,len(dataset.columns)):
  name = dataset.columns[i]
  dataset[name] = dataset[name].str.replace(',','.').astype(float)

In [ ]:
dataset['Outflow HHP1'] = dataset['Outflow HHP1'].astype(np.float64)
dataset['Inflow  HPP1'] = dataset['Inflow  HPP1'].astype(np.float64)
dataset['Inflow HPP2'] = dataset['Inflow HPP2'].astype(np.float64)
dataset['Production HPP1'] = dataset['Production HPP1'].astype(np.float64)
dataset['Production HPP2'] = dataset['Production HPP2'].astype(np.float64)

In [67]:
dataset.head(5)

      dateRep  Outflow HHP1  ...  Production HPP1  Production HPP2
0  2006/01/01    158.871553  ...           2870.0           4350.0
1  2006/01/02    168.014161  ...           1960.0           4000.0
2  2006/01/03    113.970973  ...           1886.0           3740.0
3  2006/01/04    108.877953  ...           1280.0           3240.0
4  2006/01/05     73.086605  ...           2400.0           5020.0

[5 rows x 6 columns]

In [68]:
dataset.dtypes

dateRep             object
Outflow HHP1       float64
Inflow  HPP1       float64
Inflow HPP2        float64
Production HPP1    float64
Production HPP2    float64
dtype: object

In [69]:
def missing_values_table(df):
        # Total missing values
        mis_val = df.isnull().sum()
        
        # Percentage of missing values
        mis_val_percent = 100 * df.isnull().sum() / len(df)
        
        # Make a table with the results
        mis_val_table = pd.concat([mis_val, mis_val_percent], axis=1)
        
        # Rename the columns
        mis_val_table_ren_columns = mis_val_table.rename(
        columns = {0 : 'Missing Values', 1 : '% of Total Values'})
        
        # Sort the table by percentage of missing descending
        mis_val_table_ren_columns = mis_val_table_ren_columns[
            mis_val_table_ren_columns.iloc[:,1] != 0].sort_values(
        '% of Total Values', ascending=False).round(1)
        
        # Print some summary information
        print ("Your selected dataframe has " + str(df.shape[1]) + " columns.\n"      
            "There are " + str(mis_val_table_ren_columns.shape[0]) +
              " columns that have missing values.")
        
        # Return the dataframe with missing information
        return mis_val_table_ren_columns

In [70]:
missing_values_table(dataset)

Your selected dataframe has 6 columns.
There are 5 columns that have missing values.

                 Missing Values  % of Total Values
Production HPP1              10                0.4
Outflow HHP1                  8                0.3
Inflow  HPP1                  1                0.0
Inflow HPP2                   1                0.0
Production HPP2               1                0.0

In [71]:
print("Replacing automatically the missing values with the average of their upper and lower neighboring values by column in the dataframe !!!")
print()
for i in range(1,len(dataset.columns)):
  name = dataset.columns[i]
  miss_values_index = dataset.loc[pd.isna(dataset[name]), :].index
  print(name)
  print(miss_values_index)
  print("Showing the missing values with their upper and lower neighboring values by column in the dataframe before and after replacing by average")
  print()
  for j in range(0,len(miss_values_index)):
      
      print("Before ",dataset.iat[miss_values_index[j]-1,i],dataset.iat[miss_values_index[j],i],dataset.iat[miss_values_index[j]+1,i])
      if pd.isnull(dataset.iat[miss_values_index[j]+1,i]) : dataset.iat[miss_values_index[j]+1,i] = dataset.iat[miss_values_index[j]-1,i]
      dataset.iat[miss_values_index[j],i] = (dataset.iat[miss_values_index[j]-1,i]+dataset.iat[miss_values_index[j]+1,i])/2
      print("After ",dataset.iat[miss_values_index[j]-1,i],dataset.iat[miss_values_index[j],i],dataset.iat[miss_values_index[j]+1,i])
      print()

Replacing automatically the missing values with the average of their upper and lower neighboring values by column in the dataframe !!!
Outflow HHP1
Int64Index([27, 30, 51, 55, 62, 64, 80, 100], dtype='int64')
Showing the missing values with their upper and lower neighboring values by column in the dataframe before and after replacing by average
Before  0.0 nan 0.0
After  0.0 0.0 0.0
Before  0.0 nan 0.0
After  0.0 0.0 0.0
Before  0.0 nan 0.0
After  0.0 0.0 0.0
Before  0.0 nan 4.270331085131053
After  0.0 2.1351655425655265 4.270331085131053
Before  0.0 nan 0.0
After  0.0 0.0 0.0
Before  0.0 nan 0.0
After  0.0 0.0 0.0
Before  205.6601600813247 nan 140.81022830168934
After  205.6601600813247 173.23519419150702 140.81022830168934
Before  399.96613186992596 nan 256.4294869743793
After  399.96613186992596 328.19780942215266 256.4294869743793
Inflow  HPP1
Int64Index([96], dtype='int64')
Showing the missing values with their upper and lower neighboring values by column in the dataframe before and after replacing by average
Before  208.92633034142625 nan 175.0
After  208.92633034142625 191.96316517071313 175.0
Inflow HPP2
Int64Index([101], dtype='int64')
Showing the missing values with their upper and lower neighboring values by column in the dataframe before and after replacing by average
Before  78.67248052844008 nan 70.29564804447108
After  78.67248052844008 74.48406428645558 70.29564804447108
Production HPP1
Int64Index([24, 25, 30, 64, 66, 79, 87, 96, 98, 376], dtype='int64')
Showing the missing values with their upper and lower neighboring values by column in the dataframe before and after replacing by average
Before  0.0 nan nan
After  0.0 0.0 0.0
Before  0.0 0.0 0.0
After  0.0 0.0 0.0
Before  0.0 nan 0.0
After  0.0 0.0 0.0
Before  0.0 nan 0.0
After  0.0 0.0 0.0
Before  0.0 nan 0.0
After  0.0 0.0 0.0
Before  5190.0 nan 3545.0
After  5190.0 4367.5 3545.0
Before  4750.0 nan 6930.0
After  4750.0 5840.0 6930.0
Before  7792.0 nan 8935.0
After  7792.0 8363.5 8935.0
Before  8935.0 nan 7525.0
After  8935.0 8230.0 7525.0
Before  220.0 nan 890.0
After  220.0 555.0 890.0
Production HPP2
Int64Index([104], dtype='int64')
Showing the missing values with their upper and lower neighboring values by column in the dataframe before and after replacing by average
Before  7940.0 nan 7850.0
After  7940.0 7895.0 7850.0

In [58]:
missing_values_table(dataset1)

Your selected dataframe has 6 columns.
There are 0 columns that have missing values.

Empty DataFrame
Columns: [Missing Values, % of Total Values]
Index: []

In [59]:
dataset1.head(40)

       dateRep  Outflow HHP1  ...  Production HPP1  Production HPP2
0   2006/01/01    158.871553  ...           2870.0           4350.0
1   2006/01/02    168.014161  ...           1960.0           4000.0
2   2006/01/03    113.970973  ...           1886.0           3740.0
3   2006/01/04    108.877953  ...           1280.0           3240.0
4   2006/01/05     73.086605  ...           2400.0           5020.0
5   2006/01/06    135.690533  ...           2570.0           3440.0
6   2006/01/07    145.517065  ...           2450.0           4430.0
7   2006/01/08    138.368740  ...           2290.0           4160.0
8   2006/01/09    128.591676  ...           2290.0           4000.0
9   2006/01/10    128.064112  ...           2150.0           3640.0
10  2006/01/11    119.744573  ...           2320.0           2950.0
11  2006/01/12    129.416907  ...           2670.0           4010.0
12  2006/01/13    148.706051  ...           2432.0           3940.0
13  2006/01/14    135.255166  ...           2295.0           3390.0
14  2006/01/15    127.502227  ...           1720.0           3380.0
15  2006/01/16     95.109516  ...           1520.0           2900.0
16  2006/01/17     83.875921  ...           1034.0           3000.0
17  2006/01/18     56.560531  ...              0.0           2220.0
18  2006/01/19      0.000000  ...            600.0           2590.0
19  2006/01/20     32.166466  ...            300.0           2450.0
20  2006/01/21     15.931872  ...            200.0           2650.0
21  2006/01/22     10.526632  ...              0.0           2600.0
22  2006/01/23      0.000000  ...              0.0           3040.0
23  2006/01/24      0.000000  ...              0.0           3360.0
24  2006/01/25      0.000000  ...              0.0           2870.0
25  2006/01/26      0.000000  ...              0.0           3420.0
26  2006/01/27      0.000000  ...              0.0           1980.0
27  2006/01/28      0.000000  ...              0.0           1790.0
28  2006/01/29      0.000000  ...              0.0           1880.0
29  2006/01/30      0.000000  ...              0.0           1960.0
30  2006/01/31      0.000000  ...              0.0           1960.0
31  2006/02/01      0.000000  ...              0.0           2480.0
32  2006/02/02      0.000000  ...           2505.0           2670.0
33  2006/02/03    120.740246  ...           2660.0           3460.0
34  2006/02/04    128.433897  ...           2190.0           3560.0
35  2006/02/05    105.621944  ...           2045.0           3930.0
36  2006/02/06     98.188853  ...           1235.0           3820.0
37  2006/02/07     58.840941  ...            660.0           4040.0
38  2006/02/08     31.206938  ...              0.0           4640.0
39  2006/02/09      0.000000  ...              0.0           5560.0

[40 rows x 6 columns]

In [ ]:
dataset1.to_csv('energy_float_values.csv', index = False)

In [ ]:
print("Finished with cleaning the missing values !!!")